---
Language:        Cpp
BasedOnStyle:    Google
AccessModifierOffset: -8
AlwaysBreakBeforeMultilineStrings: false
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8
FixNamespaceComments: false
IndentCaseLabels: true
IndentCaseBlocks: false
IndentExternBlock: NoIndent
IndentGotoLabels: false
IndentPPDirectives: None
IndentWidth:     8
PenaltyBreakBeforeFirstCallParameter: 1000
PenaltyBreakComment: 30
PointerAlignment: Right
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: Never
SpacesBeforeTrailingComments: 1
SpacesInAngles:  false
Standard:        Latest
